/* button {
    background-color: white;
} */

.footer {
    display: flex;
    justify-content: center;

}
button:hover {
    opacity: 75%;
}
/* i {
    padding-right: 15px;
    font-size: xx-large;
} */